body{
    background: black;
    font-family: "Comic Sans";
}

.prize-wrapper {
	border: 2px double white;
	background: repeating-linear-gradient(-45deg, #3535B0, #3535B0 5px, #1D1D80 5px, #1D1D80 10px);
	animation: animate-bg 5s linear infinite;
}

.blankAvatar {
	height: 486px;
	border: 2px solid white;
	background: "url(https://jorgeewa.github.io/who-wants-to-be-a-millionaire-game/Millionaire/pictures/BlankAvatar_1.jpg) no-repeat 0 0";
	background-size: 100% 100%;
	opacity: 0.9;
}

.useOption {

	height: 250px;

	border: 2px solid white;
	background: black;
	color: white;
	text-align: center;
    line-height: 1500%;
    display: none;
}

.lifeLines {
	border: 2px solid white;
	position: relative;
}

.prize {
	height: 15%;
	border: 2px solid black;
	padding: 2px 0 2px 0;
	border-radius: 20px;
	box-shadow: 0px 2px 4px rgba(44, 62, 80, 0, 15);
	text-align: center;
	line-height: -5px;
	background: #11AFF2;
	margin: 0 auto;
}

.prize-five {
	height: 15%;
	border: 2px solid black;
	padding: 2px 0 2px 0;
	border-radius: 20px;
	box-shadow: 0px 2px 4px rgba(44, 62, 80, 0, 15);
	text-align: center;
	line-height: -5px;
	background: #F29011;
	color: white;
}

.prize-fifteen {
	height: 15%;
	border: 2px solid black;
	padding: 2px 0 2px 0;
	border-radius: 20px;
	box-shadow: 0px 2px 4px rgba(44, 62, 80, 0, 15);
	text-align: center;
	line-height: -5px;
	background: #F29011;
	color: white;
}

.prize-ten {
	height: 15%;
	border: 2px solid black;
	padding: 2px 0 2px 0;
	border-radius: 20px;
	box-shadow: 0px 2px 4px rgba(44, 62, 80, 0, 15);
	text-align: center;
	line-height: -5px;
	background: #F29011;
	color: white;
}

.question-wrap {
	border: 2px solid white;
	height: 230px;

	background: repeating-linear-gradient(-45deg, #3535B0, #3535B0 5px, #1D1D80 5px, #1D1D80 10px);
	animation: animate-bg 5s linear infinite;
}

.question-view{
	border: 2px solid #DED3E6;
	height: 120px;
	border-radius: 50px;
	margin: 0 auto;
	background:  #00004d;
	opacity: 0.99;
	margin-top: 5px;
	text-align: center;
	line-height: 4;
	text-indent: 50px;
	color: white;
	padding: 0;
    font-size: 22px;
    font-weight: bold;
}

.line.a{
	border: 2px solid #DED3E6;
	width: 100%;
	position: absolute;
	top: 26px;
	opacity: 0.4;
}

.line.b{
	border: 2px solid #DED3E6;
	width: 100%;
	position: absolute;
	top: 80px;
	opacity: 0.4;
}

.answer-wrap {
	height: 150px;
	width: 100%;
	margin-top: 5px;
	position: relative;

}

.answer-a {
	opacity: 0.99;
	border: 2px solid #DED3E6;
	border-radius: 50px;
	width: 290px;
	height: 45px;
	background: #00004d;
	cursor: pointer;
	cursor: hand;
	text-align: center;
	line-height: 50px;
	color: white;
    font-size: 18px;
}

.answer-b {
	opacity: 0.99;
	border: 2px solid #DED3E6;
	border-radius: 50px;
	width: 290px;
	height: 45px;
	background: #00004d;
	cursor: pointer;
	cursor: hand;
	text-align: center;
	line-height: 50px;
	color: white;
    font-size: 18px;
}


.answer-c {
	opacity: 0.99;
	border: 2px solid #DED3E6;
	border-radius: 50px;
	width: 290px;
	height: 45px;
	background: #00004d;
	cursor: pointer;
	cursor: hand;
	text-align: center;
	line-height: 50px;
	color: white;
    font-size: 18px;
}


.answer-d {
	opacity: 0.99;
	border: 2px solid #DED3E6;
	border-radius: 50px;
	width: 290px;
	height: 45px;
	background: #00004d;
	cursor: pointer;
	cursor: hand;
	text-align: center;
	line-height: 50px;
	color: white;
    font-size: 18px;
}

.restartButton {
	color: black;
	display: none;
	width: 100px;
	height: 30px;
	border: 2px solid black;
	padding: 0;
	border-radius: 20px;
	box-shadow: 0px 2px 4px rgba(44, 62, 80, 0, 15);
	background: #F29011;
	position: absolute;
	left: 45%;
	top: 4px;
	text-align: center;
	line-height: 170%;
	cursor: pointer;
	cursor: hand;
	
}

.options {
	width: 50px;
	height: 30px;
	cursor: pointer;
	cursor: hand;
	display: inline-block;
	margin-top: 4px;
}

img {
	width: 40px;
	height: 30px;
	position: absolute;
}
.phoneAFriend{

}

.fifty-fifty {
	
}

.walkAway {
	
}

.askTheAudience {
	
}

/*.50-50 img {
	width: 42px;
	height: 32px;
}*/

@keyframes animate-bg {
				from {background-position: 0 0;}
				to {background-position: -80px 0;}
			}
